{%extends 'general.html.twig'%}
{%block body%}
<h2>Поиск по тегу: {{tag.0.Name}}</h2>
<table class=table border=1>
<tr>
<th>Ticket ID</th>
<th>Name</th>
<th>Link</th>
</tr>
{%for key in tickets%}
<tr>
<th>
{{key.0.Id}}
</th>
<th>
{{key.0.Name}}
</th>
<th>
<a href="/projects/tickets/{{key.0.id}}">Go</a>
</th>
</tr>
{%endfor%}
</table>
{%endblock%}
